@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient {
    background: url('/gradient_img.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
